<!DOCTYPE html>
<html lang="pt-br" th:replace="~{app :: layout(~{::title}, ~{::div})}">
  <head>
    <title>Cadastrar Usuário</title>
  </head>

  <body>
    <div class="container my-5">
      <div class="row m-4">
        <div class="card col-10 col-sm-10 col-md col-lg-9 m-auto">
          <form
            th:action="@{/admin/create}"
            method="post"
            th:object="${userFormDataDto}"
            class="card-cadastro row d-flex align-items-end">
            <h1 class="card-header h4 card-title p-4">CONTA DA KEYSTOW</h1>

            <div class="card-body col col-md-7 p-4">

              <div class="my-3 form-floating">
                <select
                  class="form-select mb-3"
                  id="floatingSelect"
                  th:field="*{userRole}"
                >
                  <option
                    th:each="role : ${possibleRoles}"
                    th:text="#{'UserRole.' + ${role.name()}}"
                    th:value="${role.name()}"
                  >User
                  </option>
                </select>
                <label for="floatingSelect">Selecione um grupo</label>
              </div>

              <div class="form-floating my-3">
                <input
                  type="text"
                  th:field="*{userModelName}"
                  th:errorclass="is-invalid"
                  class="form-control"
                  id="floatingInputname"
                  placeholder="Seu nome"
                />
                <label for="floatingInputname">Seu nome</label>
                <div class="form-text">Como devemos chamá-lo?</div>
                <div class="invalid-feedback" th:errors="*{userModelName}">
                  Erros com name
                </div>
              </div>

              <div class="form-floating my-3">
                <input
                  type="email"
                  th:field="*{email}"
                  th:errorclass="is-invalid"
                  class="form-control"
                  id="floatingInputEmail"
                  placeholder="name@example.com"
                />
                <label for="floatingInputEmail">Endereço de E-mail</label>
                <div class="form-text">
                  Você usará seu endereço de e-mail para fazer login.
                </div>
                <div class="invalid-feedback" th:errors="*{email}">
                  Erros com email
                </div>
              </div>

              <div class="form-floating my-3">
                <input
                  type="text"
                  th:field="*{password}"
                  th:errorclass="is-invalid"
                  class="form-control"
                  id="floatingInputPassword"
                  placeholder="Senha mestra"
                />
                <label for="floatingInputPassword">Senha mestra</label>
                <div class="invalid-feedback" th:errors="*{password}">
                  Erros com password
                </div>
              </div>
            </div>

            <div class="card-footer p-4 d-flex flex-column flex-sm-row gap-3">
              <button type="submit" class="btn btn-lg bg-primary text-white">
                Criar conta
              </button>
              <a href="/login" class="btn btn-lg btn-outline-primary"
                >Cancelar</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
